extends base.pug

block content 
    div.mainBox
        h1.logo Ruby Talk
        form(action="/login" method="post")
            div.loginLabel
                label ID 
                input(type="text" name ="input_id")
            div.loginLabel
                label PASSWORD
                input(type="password" value="input_password")
            input(type="submit" value="LOGIN")